
name: Build for iOS

on:
  workflow_dispatch:
      
jobs:
  build-ios:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: recursive
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: brew install zig
      
      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode.app/Contents/Developer

      - name: Check Xcode
        run: xcrun --sdk iphoneos --show-sdk-path
     
      - name: Build project
        run: zig build -Dtarget=aarch64-ios

      - name: Upload build output
        uses: actions/upload-artifact@v4
        with:
          name: zig-out
          path: zig-out
